
    <h2>Welcome, {{username}}!</h2>
    

<div>
    <h3>Create a New Post:</h3>

    <form action="/posts" method="post" class="create post">

      <div class="form-group">
        <label for="post-name">post title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>

      <div class="form-group">
        <label for="post-content">content!:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>

      <div>
        <label for="post-author">author(use your username):</label>
        <input class="form-input" type="text" id="post-author" name="post-author" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>

    </form>
  </div>

  {{#if posts}}  // is it post or posts?
 
    <h3>Current Posts:</h3>

    <div class="post-list">
    {{#each posts}}
      <div class="post">
        <h4>{{title}}</h4>
        <p>{{content}}</p>
      </div>

      <div>
        <button data-id="{{post.id}}" class="btn btn-sm btn-danger">EDIT</button>
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    
    {{/each}}
  </div>
  
  {{else}}
    <p>No posts yet!</p>
  {{/if}}


<script src="/js/dashboard.js"></script> 
