{{#if logged_in}}
    {{#if posts.length}}
        <h2>Latest Blog Posts</h2>
        <ul>
            {{#each posts}}
                <li>
                <a href="/posts/{{id}}">{{title}}</a>

                <h3>{{dataValues.author}}</h3>
                <h3>{{dataValues.title}}</h3>
                <p>{{dataValues.content}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available, but you are logged in.</p>
    {{/if}}
    <h2>
        <a href="/posts/new">Create a New Blog Post</a>
    </h2>





{{else}}
    <p>You are not logged in!</p>
{{/if}}