<main>
    <article>
        {{#if logged_in}}
            {{#if isCreator}}
                <a href="/posts/delete/{{post.id}}">Delete Post</a>
            {{/if}}
            {{#if isCreator}}
                <a href="/posts/edit/{{post.id}}">Edit Post</a>
            {{/if}}
        {{/if}}
        <h1>{{post.title}}</h1>
        <p>{{{post.contents}}}</p>
        <p>Creator: {{post.username}}</p>
        <p>Date Created: {{post.dateCreated}}</p>
        
    </article>

    <!-- Comment form -->
    {{#if loggedIn}}
        <form action="/comments" method="post">
            <input type="hidden" name="postId" value="{{post.id}}">
            <textarea name="commentText" placeholder="Leave a comment"></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    {{/if}}
</main>