<div id="dashboard">
    
<section>
    <h3>Create a New Post:</h3>

    <form action="/api/posts" method="post" class="create-post">

      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>

      <div class="form-group">
        <label for="post-content">Content:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>

      <div class="form-group">
        <label for="post-author">Author: (just enter your username)</label>
        <input class="form-input" id="post-author" name="post-author" />
      </div>

     <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>

    </form>
  </section>


  {{#if posts.length}}  
 
    <h3>Your Posts:</h3>

   <div class="post-list">
    {{#each posts}}
      <div class="post">
        <h4>{{title}}</h4>
        <p>{{content}}</p>
      </div>

      <div>

          <button id="edit-button">EDIT</button>

          <div id="edit-form-container">
            <form>
          
            <label for="edit-name">Edit Title:</label>
            <input id="edit-name" />

            <label for="edit-content">Edit Content:</label>
            <textarea  id="edit-content"></textarea>


            <button id="update-button" action="put" href="/api/posts/{{id}}" type="submit">Update Post</button>


          </form>


            <button id="cancel">Cancel Edit</button>
          
          </div>
    

        <button id="delete">
          <a action="delete" href="/api/posts/{{id}}">DELETE</a>
          </button>

      </div>
    
    {{/each}}
  </div>
  
  {{else}}
    <p>No posts yet!</p>
  {{/if}}

</div>
<script src="./js/edit.js"></script>
<script src="./js/dashboard.js"></script>
<script src="./js/delete.js"></script>
